<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../css/style.css" rel="stylesheet" />
    <title>serving static file</title>
  </head>
  <body>
    <div class="card">
      <h1>Welcome to Demo API</h1>
      <p>
        This is a demo movies API built using Express Js and JSON file as data
        source
      </p>
      <p>This is simple demo HTML page to demo serving static files.</p>
    </div>
  </body>
</html>
